@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-default: #ffffff;
  --foreground-dim: #15202b;
  --foreground-dark: #080808;
  --text-primary: #0f1419;
  --text-secondary: #71767b;
  --text-white: #fff;
  --twitter-blue: #1da1f2;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 15px;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-dark: 255, 255, 255;
    --text-primary: #e7e9ea;
    --text-secondary: #71767b;
  }
}

body {
  color: var(--text-primary);
  font-size: var(--font-size-md);
  background-color: var(--foreground-default);
  line-height: 20px;
}

.button {
  color: var(--text-white);
  font-weight: 700;
  border-radius: 9999px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.transparent-button {
  color: var(--twitter-blue);
  font-weight: 700;
  font-size: var(--font-size-sm);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
