@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-default: #ffffff;
  --foreground-dim: #15202b;
  --foreground-dark: #080808;
  --text-primary: #263340;
  --text-secondary: #71767b;
  --text-white: #fff;
  --twitter-blue: #1da1f2;
  --font-size: 15px;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-dark: 255, 255, 255;
    --text-primary: #e7e9ea;
    --text-secondary: #71767b;
  }
}

body {
  color: var(--text-primary);
  font-size: var(--font-size);
  background-color: var(--foreground-default);
  line-height: 20px;
}

.button {
  background-color: var(--twitter-blue);
  opacity: 0.5;
  color: var(--text-white);
  font-weight: 700;
  border-radius: 9999px;
}

.transparent-button {
  color: var(--twitter-blue);
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
html[data-mode="dark"] {
  @apply bg-slate-800 text-white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
